@import "./Sass/colors";
@import "./Sass/mixin";
@import "./Sass/variablec";
body {
  background-color: $body-bg-color;
}
.App {
  max-width: $conteiner-max-width;
  margin: 20px auto;
  padding: 10px;
  color: $main-text-color-white;
  height: auto;
  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px 3px rgb(76, 70, 70);
  &__title {
    @include mainFlex(space-between, stretch, 30px);
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
    background-image: url("https://images.unsplash.com/photo-1562770584-eaf50b017307?q=80&w=1602&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: bold;
  }
  P {
    line-height: 2;
    font-size: 20px;
    font-weight: 300;
  }
  .App__conteiner {
    @include mainFlex(center, center, 20px);
    padding: 40px 0px;
    & > div {
      flex-basis: 30%;
      height: 420px;
      border: 1px solid gray;
      border-radius: 6px;
      overflow: hidden;
      img {
        width: 100%;
        display: inline-block;
        object-fit: cover;
      }
      .App__content {
        padding: 10px;
        margin-bottom: 40px;
        h2 {
          color: $main-text-color-dark;
          margin-bottom: 10px;
        }
        p {
          line-height: 1.2;
          margin-top: 10px;
          margin-bottom: 15px;
          color: $main-text-color-dark;
        }
        &-btn {
          @include houseBtn;
          margin-bottom: 30px;
        }
      }
    }
  }
}
