.About{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 16px;
  width: 90%;
  margin: 50px auto;
  text-align: center;

    h1{
   width: 100%;
  text-align: center;
    }
    &__content{
       width: 90%;
  background-color:#667579;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 16px;
  margin: 20px auto;
  
  h4{
    text-align: left;
    font-size: 19px;
    color:#f3f7f8 ;
  }
  p{
    text-align: left;
    font-style: italic;
    color: #313131;
  }
 
        
}

}