.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
}
.Modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 80px;
  left: 49%;
  height: 350px;
  width: 350px;
  border: 2px solid blue;
  background-color: rgba(40, 37, 37, 0.944);
  border-style:double;
  border-width: 7px;
  border-color: aqua;
  input {
    padding: 10px 17px;
    height: 20px;
    width: 200px;
    background-color: rgb(170, 181, 197);
    border: 2px solid rgba(77, 194, 184, 0.925);
  }
  h4 {
    color: rgb(247, 220, 169);
    font-size: 26px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }
  .close {
    position: absolute;
    top: 5px;
    left: 90%;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .Modal__error {
    color: red;
  }
}
