body{
  background-color: rgb(0, 0, 0);
}
.Drow {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  .Drow__products {
    max-width: 280px;
    border: 2px solid rgb(85, 85, 85);
    padding: 0px 10px;
    box-shadow: 4px 3px 5px 1px rgba(94, 142, 189, 0.952);
    background: linear-gradient(
        to right,
        red,
        rgba(255, 0, 0, 0.63),
        blue,
        rgba(0, 0, 255, 0.613),
        orange,
        orange
      )
      text;
    -webkit-text-fill-color: transparent;

    .Drow__products-item {
      display: flex;
      gap: 15px;
    }
    .Drow__products-discr {
      display: flex;
      gap: 10px;
    }
  }
}
