.Test{
    display: flex;
    width: 80%;
    margin: 100px auto;
}
.Test__comments{
    
    border: 1px solid grey;
    padding: 10px;
}
button{
    height: 30px;
    width: 150px;
    border-radius:15px ;
    margin: 45px 15px;
}