.App {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}

button {
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}

.comment {
  flex-grow: 1;
  background-color: #ececec;
  padding: 1rem;
  border-radius: 20px;
  height: 200px;
  position: relative;
}

p {
  margin-bottom: 20px;
}

p span {
  color: rgb(0, 173, 32);
  font-size: 20px;
}

span.comment__id {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: orangered;
  text-align: center;
  color: #fff;
  position: absolute;
  display: block;
  font-size: 22px;
  top: -10px;
  padding-top: 3px;
  right: -10px
}

button:disabled {
  background-color: rgb(197, 197, 197);
  border: 2px solid #ff0404;
  scale: 0.9;
  cursor: no-drop;
}