# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env


# Files & folders that i created
src/Modal
src/PropsChildren
src/Formik
src/Experiment
src/UI
src/PasswordsMatch
src/Quiz
src/aphorism
src/hmw7 github
src/hmw 8
src/hmw 9
src/hmw 10 details Json
src/hmw 11 src
src/hmw 12 src
src/hmw 13 src
src/authCopy copy
src/ClassName copy
src/slider copy
src/UI copy