.App {
  margin: 0 auto;
  & > form {
    width: 500px;
    margin: 50px auto;
    padding: 1em;
    border-radius: 12px;
    border: 2px solid grey;
    box-sizing: border-box;
    input {
      box-sizing: border-box;
      width: 100%;
      font-size: 20px;
      border: 0;
      background-color: antiquewhite;
      margin: 10px 0;
      padding: 1em;
    }
  }
  &__posts {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    & > div {
      position: relative;
      background-color: rgb(27, 130, 96);
      padding: 1em;
      border-radius: 12px;
      border: 3px solid orangered;
      color: #fff;
      flex-basis: 27%;
      & > button {
        position: absolute;
        &.delete {
          top: 4px;
          right: 4px;
          background: white;
          border-radius: 50%;
          cursor: pointer;
          border: 0;
          i {
            font-size: 24px;
            color: #ff0404;
          }
        }
      }
    }
  }
}

.edit {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  display: block;
  padding: 6px;
  right: 5px;
  cursor: pointer;
  i {
    color: royalblue;
    font-size: 24px;
  }
}
