.App {
  width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  form {
    width: 450px;
    padding: 1em;
    margin: 30px auto;
    input {
      width: 100%;
      margin-bottom: 4px;
      margin-top: 10px;
      padding: 1em;
      border-radius: 6px;
      border: 1px solid grey;
      font-size: 20px;
      &:focus {
        outline: 1px solid #2624ed;
      }
      &[type="radio"],
      &[type="checkbox"] {
        width: 20px;
        margin-right: 15px;
      }
    }
    label {
      display: block;
    }
    .error {
      color: #ff0404;
    }
  }
  table {
    background-color: #323232;
    border-collapse: collapse;
    width: 100%;
    color: white;
  }

  th,
  td,
  caption {
    padding: 1rem;
  }

  caption,
  th {
    text-align: left;
    color: #fff;
  }

  caption {
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  th {
    background: hsl(0 0% 0% / 0.5);
  }

  tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.1);
  }
}
