@mixin mainThing(){
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 15px;
}

@mixin itemOfThing(){
    flex-basis: 30%;
        border-radius: 15px;
        padding: 15px;
}

@mixin idOfThing(){
    width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        padding: 2%;
}

























