@import '../sass/mixins';
@import '../sass/colors';

.Todos{
    background-color: $todos-text-color;
    @include mainThing();

    &__item{
        background-color: $background-color;
        @include itemOfThing();
        
    }
    &__id{
        @include idOfThing();
        border: 2px solid $todos-text-color;
    }
}