@import './sass/mixins';
@import './sass/colors';
@import './sass/variables';

.Users {
	@include mainFlex();
	user-select: none;
	padding: 1em;
	width: 96%;
	margin: 50px auto;

	&__content {
		background-color: #e2c39f;
		border-radius: 10px;
		width: 70%;
		height: 150px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__emailPart {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	button {
		background-color: #e2c39f;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		cursor: pointer;
		&:active{
			color: $active-color;
		}	
		&:hover {
			scale: $scale-size; 
		}
		&:disabled:hover {
			scale: 1;
		}
	}

	&__copy {
		&:hover {
			scale: $scale-size;
		}
	}
	
	.bi {
		cursor: pointer;	
		&:active{
			color: $active-color;
		}	
	}
}