.App {
  user-select: none;

  main {
    text-align: center;
    margin: 50px auto;
    background-color: #eee;
    padding: 16px;
  }

  footer {
    text-align: center;

    .stars-container {
      display: flex;
      flex-direction: row-reverse;
      margin: 20px auto;
      justify-content: space-around;
      width: 150px;
      font-size: 20px;

      .bi-star {
        cursor: pointer;
      }

    }
  }

}

.red, .red ~ .bi{
  color: red;
}


