.Blog{
    overflow-x: hidden;
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-top: 20px;

         &>div{
        border: 2px solid;
        border-radius: 16px;
        flex: 0 0 auto; 
        background-color:#D0CDC9 ;
        width: 450px;
        height: 450px;
        
        
        img{
            width: 300;
            height: 300px;
            border-radius: 16px;
        }
        p{
            font-size: 18px;
            
        }
         
         }
    }
    }
