.App{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	user-select: none;
}

.formik {
	background-color: #1b1b1b;
	margin: 100px auto;
	padding: 17px 45px;
	width: 390px;
	border-radius: 8px;

	h1,
	p {
		color: #fff;
	}

	p {
		font-size: 14px;
		margin-block: 25px;
	}

	[type='text'],
	[type='password'],
	[name='regist'] {
		background-color: rgb(46, 58, 60);
	}

	[type='text'],
	[type='password'] {
		width: 100%;
		margin-top: 20px;
		color: #fff;

		&::placeholder {
			color: rgb(163, 191, 199);
		}
	}

	[name='submit'] {
		background-color: rgb(44, 204, 248);
	}

	.enter {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-block: 15px;

		[name='submit'],
		[name='regist'] {
			width: 50%;
			cursor: pointer;
		}

		[name='regist'] {
			color: #fff;
		}
	}

	input {
		height: 40px;
		padding: 10px;
		border-radius: 5px;
		border: none;
	}
	.error{
		color: #ff0404;
		font-size: 10px;
	}
}

table{
	margin: 0 auto;
	width: 90%;
	background-color: #272727;
	text-transform: capitalize;
	&, caption{
		border: 2px solid black;
		
	}

	caption{
		font-weight: 700;
		font-size: 30px;
		padding: 10px;
		border-radius: 10px;
	}
	
	td, th{
		color: #e5e5e5;
		width: 30%;
		padding-inline: 10px;
		text-align: center;
		border: 2px solid #fff;
	}
}
