.Header{
    display: flex;
    background-color: aliceblue;
    border-bottom: 1px solid grey;
    text-align: center;
    justify-content: space-between;
    padding: 20px 40px;
    &__about{
        display: flex;
        gap: 5px;
    }
    &__route{
        font-size: 1.6rem;
        margin: 40px;
    }
    &__route:hover{
        color: red;
    }
    &__select{
        color: white;
        background: #e90606;
        height: 40px;
        border-radius: 25px;
    }
}