.App {
    margin: 25px auto;
    width: 1200px;
    padding: 35px;
    border: 2px solid rgb(53, 44, 44);
    background-color: rgb(53, 46, 46);
    color: rgb(251, 252, 253);

    &__Form input {
        width: 1000px;
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        background-color: rgb(58, 52, 52);
        margin-top: 20px;


    }

    &__Form button {
        margin-left: 10px;
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(58, 52, 52);
        color: whitesmoke;

    }

    &__Content {
        padding: 15px;
        border: 2px solid rgb(77, 61, 61);
        border-radius: 25px;
        background-color: rgb(58, 52, 52);
        color: rgb(212, 215, 216);

        ul>li {
            padding: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid rgb(212, 215, 216);
        }


    }
}