.Users {
  h1 {
    text-align: center;
    letter-spacing: 5px;
  }
  .Users__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .Users__card {
      border: 1px solid gray;
      width: 200px;
      text-align: center;
      position: relative;
      h4 {
        font-size: 20px;
      }
      h5 {
        font-size: 18px;
      }
      i{
        position: absolute;
        top: -13px;
        right: -13px;
        cursor: pointer;
        font-size: 18px;
        padding: 2px;
        border: 2px solid rgb(157, 41, 41);
        border-radius: 15px;
        color: rgb(0, 0, 0);
        background-color: rgb(131, 130, 130);
      }
    }
  }
}
