@mixin mainFlex($jc, $ai, $gap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

@mixin mainButton() {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  min-width: 150px;
  font-size: 20px;
  background-color: rgb(10, 1, 24);
}
