.UsersSlider {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 115px;
    text-align: center;

    &__Content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        color: #0f2701;
    }

    .UsersSlider__Content-Item {
        width: 600px;
        height: 150px;
        background-color: #afa7a78e;
        padding: 20px;
        border-radius: 45px;
        position: relative;

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        p {
            font-size: 23px;
        }

        .icons {
            position: absolute;
            top: 47%;
            right: 70px;
            transform: translateY(-50%);

            i {
                font-size: 15px;
                transition: transform 0.3s;

                &.bi-clipboard-check-fill {
                    font-size: 20px;
                    transform: scale(1.2);
                }
            }
        }
    }
}