.MovieData {
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        font-family: Arial, sans-serif;
        margin: 100px auto;

        caption {
            caption-side: top;
            padding: 8px;
            font-size: 1.5em;
            text-align: left;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            font-size: 20px;
        }

        th {
            text-align: left;
            font-size: 25px;
        }

        tr:hover {
            background-color: #ddd;
        }

        .MovieData__Delete {
            background-color: #ff0000;
            color: #fff;
            border: 2px solid gray;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        .MovieData__Delete:hover {
            background-color: #cc0000;
        }

        .MovieData__Icon i {
            float: inline-end;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 2px solid black;
            background-color: #e85454;
            cursor: pointer;
        }
    }
}