
.Users {
  margin: 0 auto;
  background-color: rgb(33, 33, 33);

  .newUser {
    width: 50%;
    height: 35px;
    border-radius: 16px;
    background-color: rgba(128, 128, 128, 0.164);
    border: none;
    color: white;
  }

  h1 {
    color: white;
    font-size: 40px;
  }

  .addUser {
    background-color: red;
    padding: 10px 15px;
    border-radius: 16px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .Users__list {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      h2 {
        background-color: rgb(98, 98, 98);
        width: 100%;
        height: 35px;
        border-radius: 16px;
        color: white;
        font-weight: 200;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }

      button {
        padding: 9px 10px;
        cursor: pointer;
        border-radius: 16px;
        border: none;
        background-color: rgb(255, 0, 0);
        color: white;
        font-size: 15px;
      }
    }
  }
}
