.App {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    margin-bottom: 30px;
    width: 100%;
    background-color: #eee;
    padding: 16px;
    flex-grow: 1;
  }
.Link{
  background-color: royalblue;
  color: #fff;
  padding: 0.6rem 1rem;
  margin: 30px 0 10px 0;
  font-size: 20px;
  display: inline-block;
}
  footer {
    text-align: center;

    .stars-container {
      display: flex;
      flex-direction: row-reverse;
      margin: 20px auto;
      justify-content: space-around;
      width: 150px;
      font-size: 20px;

      .bi-star {
        cursor: pointer;
      }
    }
  }

}

.red, .red ~ .bi{
  color: red;
}


