.App{
    width: 600px;
    margin: 100px auto;
    border-bottom: 2px solid teal;
   
    form{
        background-color: rgb(223,238,218);
        box-shadow: rgba(0, 0, 0, 0.35) 10px 15px  25px 15px;
        width: 450px;
        padding: 15px;
        border-radius: 15px; 
        border: 1px solid gray;
        margin: 50px auto;
        input{
            height: 50px;
            border-radius: 12px;
            font-size: 20px;
            width: 100%;
            margin-bottom: 10px;
        } 
    }
    .register{
        background-color: rgb(21,119,40);
        height: 50px;
        font-size: 20px;
        text-transform:uppercase;
        font-family:  "Zilla Slab", serif;
        border-radius: 20px;
        cursor: pointer;
    }
}
.Values{
    margin:  60px auto;
    display: flex;
    flex-wrap: wrap;

    &__item{
        margin:  100px auto;
        box-shadow: rgba(0,0,0 ,0.50) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        height: 150px;
        width:500px;
        background-color: #cbddb5;
        margin: 10px;
        border-radius: 16px;
        position: relative; 
      
    
        .del{
            cursor: pointer;
            padding: 5px  10px ;
            border-radius: 12px;
            font-size: 23px;
            background-color: #bbef7e;
            text-align: center;
            align-items: center;
             position: absolute;
             top: 5px; 
            right: 5px;
        }
    } div >span,
    .psw{
        margin-left: 20px;
        display: block;
        margin-bottom: 5 px;
        font-size: 25px;
        font-family: "Zilla Slab", serif;
    } 
    
}