@import './sass/colors';

.Users {
  background-color: $background-color;
  color: $text-color;
  padding: 15px;

  .addPart {
    display: grid;
    grid-template-columns: 1fr 100px;
    height: 45px;
    margin-bottom: 25px;
  }

  input {
    border-radius: 5px;
    background-color: $add-color;
    padding-left: 10px;
    height: 30px;

    &::placeholder {
      color: $background-color;
    }
  }

  button {
    color: $text-color;
    border-radius: 5px;
    cursor: pointer;

    &:active {
      scale: 1.1;
    }


  }

  .addUserBtn {
    border: 1px solid $add-color;
    height: 35px;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;
  }

  &__each {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $text-color;
    background-color: $users-background-colors;

    button {
      padding: 5px;
      background-color: $button-color;
      border-radius: 5px;
    }
  }

  .error {
    color: red;
    margin: 8px;
  }
}