.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;


    .Logo a {
        color: #4a3838;
        background-color: rgba(181, 178, 94, 0.699);
        padding: 10px;
        border-radius: 35px;
        border: 3px solid rgb(31, 26, 26);
        text-decoration: none;
        font-size: 25px;
    }

    .Logo a:hover {
        color: #7f2d2d;
        background-color: rgba(99, 96, 18, 0.699);
    }

    .nav ul {
        list-style-type: none;
    }

    .nav ul li {
        display: inline;
        margin-left: 30px;
    }

    .nav ul li a {
        color: #1d1d1d;
        text-decoration: none;
        font-size: 20px;
    }

    .nav ul li a:hover {
        color: #ffcc00;
        border-bottom: 3px solid orange;
    }

}