.App {
  .Posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    & > div {
      padding: 1em;
      background-color: rgb(89, 161, 37);
      border-radius: 12px;
      flex-basis: 30%;
      h2 {
        margin-bottom: 12px;
        color: #fff;
      }
    }
  }
}
