.Treiders{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    &__treider{
        flex-grow: 1;
    width: 19%;
    text-align: center;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    transition: all .4s;
    img{
        border-radius: 50%;
        background: #efefef;
        border: 2px solid #efefef;
        width: 180px;
        transition: all .6s;
    }
    }
}