.Clock{
    max-width: 1200px;
    display: block;
    text-align: center;
    height: 75px;
    width: 135px;
    background-image: linear-gradient(yellow, red);
    top: 10px;
    right: 20px;
    color: rgb(44, 41, 41);
  }             
 