.App{
    background-color: rgba(137, 43, 226, 0.712);
    height: 500px;
    button{
        padding: 10px 10px;
        border-radius: 16px;
        font-size: 19px;
        border: none;
        cursor: pointer;
        background-color: rgba(37, 198, 204, 0.877);
       
    }
}