.App{
    font-family: "Dancing Script", cursive;
    margin-block: 20px;
    background-color: rgba(0, 0, 0, 0.277);
    width: 99vh;
    user-select: none;
}
.App__heading{
    text-align: center;
}