.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  main {
    margin-bottom: 30px;

    background-color: #eee;
    padding: 16px;
    flex-grow: 1;
  }
  .Link {
    background-color: royalblue;
    color: #fff;
    padding: 0.6rem 1rem;
    margin: 30px 0 10px 0;
    font-size: 20px;
    display: inline-block;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
  }
}
