.App{
    margin: 0 auto;
    &>form{
         width: 400px;
         margin: 50px auto;
         padding: 1em;
         border-radius: 12px;
         border: 1px solid;
         box-sizing: border-box;
       &> input{
            width: 100%;
            font-size: 20px;
            box-sizing: border-box;
            border: 1px solid;
            margin: 10px 0;
            background-color: rgba(221, 160, 221, 0.779);
            padding: 1em;
            border-radius: 16px;
        }
    }
    &__items{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        &>div{
            position: relative;
            background-color: thistle;
            padding: 1em;
            border-radius: 16px;
            border: 1px solid;
            color: black;
            flex-basis: 25%;
            &>button{
                &.delete{
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    border-radius: 50%;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    i{
                    font-size: 20px;
                   
                }
            }
        }
    }
}
}


 .Edit{
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        background: transparent;
                        border-radius: 50%;
                        border: none;
                        i{
                            font-size: 20px;
                            cursor: pointer;
                        }
                }





