$main-text-color-dark: #333;
$main-text-color-white: rgb(214, 197, 197);
$main-bg-color:rgba(229, 231, 234, 0.734);
$body-bg-color:rgb(179, 179, 179);
$footer-bg-color:rgb(28, 18, 62);
$span-color:rgba(242, 18, 18, 0.895);