@mixin mainFlex($jc, $alit, $gp) {
  display: flex;
  justify-content: $jc;
  align-items: $alit;
  gap: $gp;
}

@mixin houseBtn {
  padding: 3px 7px;
  background-color: rgb(39, 3, 39);
  color: $main-text-color-white;
  font-size: 17px;
  font-family: cursive;
  border: 2px solid rgb(236, 38, 236);
}
