.Posts {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  & > div {
    background-color: olivedrab;
    color: #fff;
    padding: 1em;
    border-radius: 12px;
    flex-basis: 30%;
    span {
      width: 30px;
      height: 30px;
      background-color: orangered;
      font-weight: 700;
      display: block;
      border-radius: 50%;
      text-align: center;
      padding-top: 4px;
      cursor: pointer;
    }
  }
}
