.Nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: capitalize;
  background-image: linear-gradient(rgb(249, 249, 6), rgb(82, 177, 19));
  padding: 15px 0px;
  cursor: pointer;
  font-size: 20px;
  color: #222;
}
.Name__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  .Name__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    h2 {
      color: #3f3f3ff5;
      font-weight: 500;
    }
    button {
      border: none;
      font-size: 18px;
      background-color: gainsboro;
      border-radius: 9px;
      padding: 3px 7px;
    }
  }
}
.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 220px;
  margin: 0 auto;
  background-color: rgb(119, 124, 122);
  margin-top: 20px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    .Modal__section {
      padding: 5px;
      position: relative;
      button {
        padding: 0px 5px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .Modal__close {
      position: absolute;
      top: -70px;
      right: -75px;
      padding: 5px 7px;
      font-size: 20px;
      border-radius: 9px;
      background-color: beige;
      border: 2px solid gray;
      cursor: pointer;
    }
  }
}
