.Blog {
  h1{
    text-align: center;
  }
  .Blog__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Card {
      p{
        text-align: center;
        font-weight: 600;
        font-family: cursive;
        font-size: 22px;
        color: #333;
      }
      img {
        height: 500px;
        width: 100%;
      }
    }
  }
}
