.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &>.Todos {
        background-color: limegreen;
        font-size: 15px;
        padding: 10px;
        border: 2px solid gold;
        border-radius: 20px;
    }

    &>.Comments {
        background-color: lightgreen;
        font-size: 15px;
        padding: 10px;
        border: 2px solid gold;
        border-radius: 20px;
    }

    &>.Users {
        background-color: lightcoral;
        font-size: 15px;
        padding: 10px;
        border: 2px solid gold;
        border-radius: 20px;
    }

    &>.Posts {
        background-color: lightslategray;
        font-size: 15px;
        padding: 10px;
        border: 2px solid gold;
        border-radius: 20px;
    }
}