.green{
    border:1px solid grey;
    width: 500px;
    pad: 15px;
    margin: 0 auto;
    background: green;
}
.red{
    border:1px solid grey;
    width: 500px;
    pad: 15px;
    margin: 0 auto;
    background: red;
}