.btn {
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    padding: 0.6rem 1rem;
    margin: 10px 0;
    transition: scale 0.3s;
    &-block {
      display: block;
      width: 100%;
    }
    &-dark {
      color: whitesmoke;
      background-color: #1d1d1d;
    }
    &-warning {
      color: #fff;
      background-color: rgb(198, 46, 46);
    }
    &-primary {
      color: #fff;
      background-color: royalblue;
    }
    &-success {
      color: #fff;
      background-color: #10ce40;
    }
    &-sm {
      font-size: 14px;
    }
    &-md {
      font-size: 16px;
    }
    &-lg {
      font-size: 20px;
    }
    &:active {
      scale: 0.97;
      transition: 0.3s;
    }
  }
  